<div class="card mt-5" *ngFor="let employee of employees">
    <div class="card-header bg-primary">
        <h3 class="card-title">{{employee.name}}</h3>
    </div>
    <div class="card-body">
       <div class="row">
           <div class="col-md-4">
            <img class="imageClass" [src]="employee.photopath"/>
           </div>
           <div class="col-md-8">
               <div class="row">
                   <div class="col-md-6">
                    Gender
                   </div>
                   <div class="col-md-6">
                    :{{employee.gender}}
                   </div>
               </div>
               <div class="row">
                <div class="col-md-6">
                    Date of Birth
                </div>
                <div class="col-md-6">
                    :{{employee.dateOfBirth | date}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    contactPreference
                </div>
                <div class="col-md-6">
                    :{{employee.contactPreference}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    Phone
                </div>
                <div class="col-md-6">
                    :{{employee.phoneNumber}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    Email
                </div>
                <div class="col-md-6">
                    :{{employee.email}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    Department
                </div>
                <div class="col-md-6">
                    :{{employee.department}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    In Active
                </div>
                <div class="col-md-6">
                    :{{employee.inActive}}
                </div>
            </div>
               
           </div>
       </div>
           
          
            
        

    </div>
</div>
