<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="card mt-5">
        <div class="card-header bg-primary">
            <h3 class="card-title">Create Employee</h3>
        </div>
        <div class="card-body">
            <div class="form-group" [ngClass]="{'is-invalid': 'formErrors.fullName'}">
                
                <label for="fullName">Full Name</label>
                <input id="fullName" formControlName="fullName"   type="text" class="form-control"
                (blur)="LogValidationError()">
                
                <span class="invalid-feedback" *ngIf="formErrors.fullName">
                    {{formErrors.fullName}}
                </span>
            </div>
                
            

            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" formControlName="email" name="email"  type="text" class="form-control">
            </div>

            <div formGroupName="skills">
                <div class="form-group">
                    <label class="control-label" for="skillName">Skill</label>
                    <div class="col-md-4">
                        <input type="text"  class="form-control" placeholder="name" id="skillName" formControlName="skillName">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="experience In Years" id="experienceInYears" formControlName="experienceInYears">
                    </div>
                </div>
                

                <div class="form-group">
                    <label class="control-label">Proficiency</label>
                    <label class="radio-inline">
                        <input type="radio" value="beginner" formControlName="proficiency">beginner
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="intermediate" formControlName="proficiency">Intermediate
                    </label>
                   
                    <label class="radio-inline">
                        <input type="radio" value="advanced" formControlName="proficiency">Advanced
                    </label>
                    
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-primary" (click)="onLoadData()">Load Data</button>
        </div>
    </div>
</form>

